@font-face {
    font-family: "Lato-Regular";
    src: url(./assets/fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: "Lato-Bold";
    src: url(./assets/fonts/Lato-Bold.ttf);
}
@font-face {
    font-family: "Lato-Light";
    src: url(./assets/fonts/Lato-Light.ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1020px;
    height: 88px;
    margin: 0 auto;
    background-color: #2d303a;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    width: 940px;
    align-items: baseline;
}

.header-title {
    font-size: 25px;
    color: #ffffff;
    font-family: "Lato-Regular";
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: -0.4px;
}

.header-title span {
    color: #f06c64;
}

.header-navbar {
    width: 371px;
    display: flex;
    justify-content: space-between;
}

.header-navbar__link {
    font-size: 12px;
    color: #ffffff;
    font-family: "Lato-Light";
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: -0.1px;
    transition: all 0.3s;
    position: relative;
}

.header-navbar__link::after {
    content: "";
    display: block;
    top: 50%;
    right: -16px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #494e62;
    position: absolute;
}

.header-navbar__link:nth-child(5)::after {
    display: none;
}

.header-navbar__link:hover {
    color: #f06c64;
}

.main { 
    width: 1020px;
    margin: 0 auto;  
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 607px;
    background-color: #f06c64;
    border-top: #323746 7px solid;
    border-bottom: #ea676b 7px solid;
    position: relative;
}

.phone-vertical {
    width: 240px;
    height: 483px;
    background-image: url(./assets/image/Shadow.png);
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 6px;
}

.phone-vertical::after {
    display: block;
    content: "";
    position: absolute;
    background-image: url(./assets/image/image-inner-vertical.png);
    top: 63px;
    left: 13px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.phone-horizontal {
    height: 240px;
    width: 483px;
    background-size: contain;
    background-image: url(./assets/image/Shadow-horiz.png);
    background-repeat: no-repeat;
    margin: 0 4px 8px 74px;
    position: relative;
}

.phone-horizontal::after {
    display: block;
    content: "";
    position: absolute;
    background-image: url(./assets/image/image-inner-gorizont.png);
    top: 13px;
    left: 59px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.slider-left {
    position: absolute;
    top: 275px;
    left: 37px;
    padding: 5px;
    transition: all 0.3s;
}

.slider-right {
    position: absolute;
    top: 275px;
    right: 35px;
    padding: 5px;
    transition: all 0.3s;
}

.slider-left:hover,
.slider-right:hover {
    transform: scale(1.4);
}

.services {
    height: 499px;
    background-color: #f1f1f1;
    border-bottom: #ffffff 6px solid;
    padding-top: 59px;
}

.services-title {
    height: 36.36px;
    margin-left: 40px;
    margin-bottom: 14px;
    letter-spacing: 0.5px;
    word-spacing: -2px;
    font-size: 30px;
    color: #666d89;
    font-family: "Lato-Regular";
    white-space: nowrap;
    overflow: hidden;

}

.services-subtitle {
    margin: 18px 0 0 40px;
    word-spacing: 0.4px;
    letter-spacing: -0.1px;
    width: 940px;
    height: 57px;
    line-height: 30px;
    color: #767e9e;
    /* font-family: "Lato-Regular"; */
    font-family: "Lato-Light";
    font-size: 18px;
    overflow: hidden;
}

.services-characteristic {
    display: flex;
    width: 859px;
    justify-content: space-between;
    margin-left: 120px;
    margin-top: 45px;
}

.services-characteristic__column {
    display: flex;
    flex-direction: column;
}

.characteristic_element h3 {
    font-size: 18px;
    color: #666d89;
    font-family: "Lato-Regular";
    letter-spacing: 0.2px;
    /* letter-spacing: -0.1px;
    word-spacing: -0.6px; */
    overflow: hidden;
    white-space: nowrap;
    width: 219px;
}

.characteristic_element p {
    width: 219px;
    height: 92px;
    margin-top: 9px;
    font-size: 12px;
    color: #767e9e;
    font-family: "Lato-Light";
    line-height: 22px;
    word-spacing: 3.2px;
    letter-spacing: 0.1px;
    font-weight: 600;
    overflow: hidden;
}

.feel,
.love,
.support,
.inovative,
.responsive,
.design {
    position: relative;
}

.feel::before,
.love::before,
.support::before,
.inovative::before,
.responsive::before,
.design::before {
    content: "";
    display: block;
    width: 55px;
    height: 55px;
    border-radius: 29px;
    border: 2px solid #666d89;
    position: absolute;
    top: 5px;
    left: -80px;
}

.design::after {
    content: url(./assets/image/services-design.svg);
    top: 19px;
    left: -65px;
    position: absolute;
} 

.responsive::after {
    content: url(./assets/image/services-responsiv.svg);
    top: 17px;
    left: -61px;
    position: absolute;
} 

.inovative::after {
    content: url(./assets/image/services-inovative.svg);
    top: 18px;
    left: -62px;
    position: absolute;
}

.support::after {
    content: url(./assets/image/services-support.svg);
    top: 21px;
    left: -66px;
    position: absolute;
}

.love::after {
    content: url(./assets/image/services-love.svg);
    top: 21px;
    left: -66px;
    position: absolute;
}

.feel::after {
    content: url(./assets/image/services_feellike.svg);
    top: 19px;
    left: -66px;
    position: absolute;
}