@font-face {
    font-family: "Lato-Regular";
    src: url(./assets/fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: "Lato-Bold";
    src: url(./assets/fonts/Lato-Bold.ttf);
}
@font-face {
    font-family: "Lato-Light";
    src: url(./assets/fonts/Lato-Light.ttf);
}
@font-face {
    font-family: "Lato-Black";
    src: url(./assets/fonts/Lato-Black.ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    scroll-behavior: smooth;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 1020px; */
    height: 88px;
    margin: 0 auto;
    background-color: #2d303a;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    max-width: 1020px;
    width: 100%;
}

.header-wrapper {
    width: 92.15%;
    display: flex;
    justify-content: space-between;
    /* width: 940px; */
    align-items: baseline;
    position: relative;
}

.hamburger {
    width: 25px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    display: none;
}

.hamburger-line {
    width: 100%;
    height: 2.4px;
    border-radius: 5px;
    background-color: #ffffff;
}



.header-title {
    font-size: 25px;
    color: #ffffff;
    font-family: "Lato-Regular";
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: -0.4px;
}

.header-title span {
    color: #f06c64;
}

.header-navbar {
    width: 371px;
    display: flex;
    justify-content: space-between;
}

.header-navbar__link {
    font-size: 12px;
    color: #ffffff;
    font-family: "Lato-Light";
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: -0.1px;
    transition: all 0.3s;
    position: relative;
}

.header-navbar__link::after {
    content: "";
    display: block;
    top: 50%;
    right: -16px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #494e62;
    position: absolute;
}

.header-navbar__link:nth-child(5)::after {
    display: none;
}

.header-active {
    color: #f06c64;
}

.main { 
    max-width: 1020px;
    margin: 0 auto;  
    margin-top: 88px;
}

.slider {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    height: 607px;
    border-top: #323746 7px solid;
    border-bottom: #ea676b 7px solid;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.wrapper-slider {
    max-height: 607px;
    height: 100%;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    display: none;
    position: relative;
    animation: 0.5s ease-in-out;
}

.wrapper-next,
.wrapper-active {
    display: flex;
}

.wrapper-next {
    position: absolute;
    top: 0;
    width: 100%;
}

.back-slider-1 {
    background-color: #f06c64;
}

.phone-vertical {
    width: 240px;
    height: 483px;
    background-image: url(./assets/image/Shadow.png);
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 6px;
}

.phone-vertical-display {
    position: absolute;
    top: 64px;
    left: 13px;
    z-index: 2;
}

.phone-horizontal-display {
    position: absolute;
    top: 13px;
    left: 59px;
    z-index: 2;
}

.phone-horizontal {
    height: 240px;
    width: 483px;
    background-size: contain;
    background-image: url(./assets/image/Shadow-horiz.png);
    background-repeat: no-repeat;
    margin: 0 4px 8px 74px;
    position: relative;
}

.vertical-display-black {
    width: 194px;
    height: 339px;
    background-color: black;
    position: absolute;
    top: 64px;
    left: 13px;
    z-index: 1;
}

.horizontal-display-black {
    width: 339px;
    height: 194px;
    background-color: black;
    position: absolute;
    top: 13px;
    left: 59px;
    z-index: 1;
}

.back-slider-2 {
    background-color: #648BF0;
}

.inner-slider-2 {
    display: flex;
    width: 518px;
    justify-content: space-between;
}

.phone-slider-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider-left {
    position: absolute;
    top: 275px;
    left: 37px;
    padding: 5px;
    transition: all 0.3s;
    cursor: pointer;
}

.slider-right {
    position: absolute;
    top: 275px;
    right: 35px;
    padding: 5px;
    transition: all 0.3s;
    cursor: pointer;
}

.to-left {
    animation-name: left;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.from-right {
    animation-name: right;
}

@keyframes left {
    from {
        left: 0;    
    }
    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;    
    }
    to {
        left: 0;
    }
}

.slider-left:hover,
.slider-right:hover {
    transform: scale(1.4);
}

.services {
    height: 499px;
    background-color: #f1f1f1;
    border-bottom: #ffffff 6px solid;
    padding-top: 59px;
}

.services-title {
    height: 36.36px;
    margin-left: 40px;
    margin-bottom: 14px;
    letter-spacing: 0.5px;
    word-spacing: -2px;
    font-size: 30px;
    color: #666d89;
    font-family: "Lato-Regular";
    white-space: nowrap;
    overflow: hidden;

}

.services-subtitle {
    margin: 18px 0 0 40px;
    word-spacing: 0.4px;
    letter-spacing: -0.1px;
    width: 940px;
    height: 57px;
    line-height: 30px;
    color: #767e9e;
    /* font-family: "Lato-Regular"; */
    font-family: "Lato-Light";
    font-size: 18px;
    overflow: hidden;
}

.services-characteristic {
    display: flex;
    width: 859px;
    justify-content: space-between;
    margin-left: 120px;
    margin-top: 45px;
}

.services-characteristic__column {
    display: flex;
    flex-direction: column;
}

.characteristic_element h3 {
    font-size: 18px;
    color: #666d89;
    font-family: "Lato-Regular";
    letter-spacing: 0.2px;
    /* letter-spacing: -0.1px;
    word-spacing: -0.6px; */
    overflow: hidden;
    white-space: nowrap;
    width: 219px;
}

.characteristic_element p {
    width: 219px;
    height: 92px;
    margin-top: 9px;
    font-size: 12px;
    color: #767e9e;
    font-family: "Lato-Light";
    line-height: 22px;
    text-align: justify;
    font-weight: 600;
    overflow: hidden;
}

.feel,
.love,
.support,
.inovative,
.responsive,
.design {
    position: relative;
}

.feel::before,
.love::before,
.support::before,
.inovative::before,
.responsive::before,
.design::before {
    content: "";
    display: block;
    width: 55px;
    height: 55px;
    border-radius: 29px;
    border: 2px solid #666d89;
    position: absolute;
    top: 5px;
    left: -80px;
}

.design::after {
    content: url(./assets/image/services-design.svg);
    top: 19px;
    left: -65px;
    position: absolute;
} 

.responsive::after {
    content: url(./assets/image/services-responsiv.svg);
    top: 17px;
    left: -61px;
    position: absolute;
} 

.inovative::after {
    content: url(./assets/image/services-inovative.svg);
    top: 18px;
    left: -62px;
    position: absolute;
}

.support::after {
    content: url(./assets/image/services-support.svg);
    top: 21px;
    left: -66px;
    position: absolute;
}

.love::after {
    content: url(./assets/image/services-love.svg);
    top: 21px;
    left: -66px;
    position: absolute;
}

.feel::after {
    content: url(./assets/image/services_feellike.svg);
    top: 19px;
    left: -66px;
    position: absolute;
}

/* .portfolio {
    height: 871px;
    background-color: #2d303a;
    border-bottom: #323746 solid 6px;
} */

/* .portfolio {
    background-color: #2d303a;
    border-bottom: #323746 solid 6px;
    height: 944px;
    margin-top: -58px;
    padding-top: 73px;
    background-clip: content-box;
} */

.portfolio {
    padding: 60px 0 0 40px;
    height: 871px;
    background-color: #2d303a;
    border-bottom: #323746 solid 6px;
}

.portfolio-title {
    width: 940px;
    height: 37px;
    font-size: 30px;
    color: #666d89;
    font-family: "Lato-Black";
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 0.2px;
}

.portfolio-subtitle {
    width: 940px;
    height: 25px;
    margin-top: 17px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato-Regular";
    letter-spacing: -0.3px;
    word-spacing: -0.2px;
    overflow: hidden;
}

.portfolio-nav ul {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    width: 288px;
}

.portfolio-nav__element {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 22px;
    border-radius: 5px;
    background-color: #2d303a;
    border: 1px solid #666d89;
    font-size: 12px;
    color: #dedede;
    font-family: "Lato-Regular";
    list-style-type: none;
    transition: all 0.3s;
    cursor: pointer;
}

.portfolio-nav__element:nth-child(1) {
    width: 30px;
}

.portfolio-nav__element:nth-child(2) {
    width: 78px;
}

.portfolio-nav__element:nth-child(3) {
    width: 93px;
}

.portfolio-nav-active {
    border: 1px solid #c5c5c5;
}

.portfolio-image {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    overflow: hidden;
    width: 940px;
    height: 601px;
    margin-top: 19px;
}

.portfolio-image__element {
    width: 220px;
    height: 187px;
    background-color: #3d3a3a;
    overflow: hidden;
    position: relative;
}

.top-1 {
    background-image: url(./assets/image/singolo2/top-1.png);
    background-position: 47% 21%;
}

.top-2 {
    background-image: url(./assets/image/singolo2/top-2.png);
    background-position: 57% center;
}

.top-3 {
    background-image: url(./assets/image/singolo2/top-3.png);
    background-position-x: 38%;
}

.top-4 {
    background-image: url(./assets/image/singolo2/top-4.png);
    background-position: 57% 15%;
}

.midle-1 {
    background-image: url(./assets/image/singolo2/midle-1.png);
    background-position: 46% 17%;
}

.midle-2 {
    background-image: url(./assets/image/singolo2/midle-2.png);
    background-position: 42% 47%;
}

.midle-3 {
    background-image: url(./assets/image/singolo2/midle-3.png);
    background-position: 21% 20%;
}

.midle-4 {
    background-image: url(./assets/image/singolo2/midle-4.png);
    background-position: 41% 34%;
}

.bottom-1 {
    background-image: url(./assets/image/singolo2/bottom-1.png);
    background-position: 48%;
}

.bottom-2 {
    background-image: url(./assets/image/singolo2/bottom-2.png);
    background-position: 56% 24%;
}

.bottom-3 {
    background-image: url(./assets/image/singolo2/bottom-3.png);
    background-position: 74% 77%;
}

.bottom-4 {
    background-image: url(./assets/image/singolo2/bottom-4.png);
    background-position: 48% 25%;
}

.about {
    height: 734px;
    background-color: #f2f2f2;
    border-bottom: #ffffff solid 6px;
    padding: 58px 0 0 40px;
}

.about-title {
    font-size: 30px;
    height: 30px;
    width: 940px;
    color: #666d89;
    font-family: "Lato-Black";
    overflow: hidden;
    white-space: nowrap;
    word-spacing: -1.1px;
}

.about-subtitle {
    width: 940px;
    height: 57px;
    margin-top: 25px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato-Regular";
    letter-spacing: -0.2px;
    word-spacing: 0.2px;
    overflow: hidden;
}

.about-column-wrapper {
    display: flex;
}

.about-column {
    margin: 47px 15px 0 0;
    width: 301px;
    height: 445px;
    /* background-color: #3b3838; */
    /* display: inline-block; */
}

.about-column img {
    display: block;
    width: 100%;
}

.about-column__title {
    margin-top: 14px;
    font-size: 18px;
    height: 22px;
    color: #767e9e;
    font-family: "Lato-Black";
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: -0.2px;
    word-spacing: 0.9px;
}

.about-column__subtitle {
    height: 39px;
    margin-top: 9px;
    font-size: 12px;
    font-family: "Lato-Regular";
    letter-spacing: -0.2px;
    word-spacing: 0.2px;
    overflow: hidden;
    color: #767e9e;
    line-height: 21px;
    text-align: justify;
}

.socials {
    display: flex;
    justify-content: space-between;
    width: 157px;
    margin: 26px 0 0 -2px;
}

.socials a {
    padding: 8px;
    position: relative;
    transition: all 0.3s;
}

.socials a::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 16px;
    border: 1px solid #666d89;
    position: absolute;
    left: 9%;
    top: 0;
}

.socials a:hover {
    transform: scale(1.3);
}

.quote {
    height: 654px;
    padding: 59px 0 0 40px;
    background-color: #f06c64;
    border-bottom: #ea676b 5px solid;
}

.qoute-wrapper {
    display: flex;
}

.quote-title {
    width: 940px;
    height: 35px;
    font-size: 30px;
    color: #f0d8d9;
    font-family: "Lato-Black";
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: -0.2px;
}

.quote-subtitle {
    width: 940px;
    height: 57px;
    margin: 19px 0 46px 0;
    font-size: 18px;
    line-height: 31px;
    color: #f0d8d9;
    font-family: "Lato-Light";
    overflow: hidden;
    letter-spacing: -0.1px;
    word-spacing: 0.4px;
}

.form {
    height: 420px;
    width: 618px;
    display: flex;
    flex-direction: column;
}

input[type=submit],
input[type=email],
input[type=text] {
    margin-bottom: 15px;
    padding-left: 13px;
    border: 1px solid #d6564f;
    width: 619px;
    height: 39px;
    border-radius: 5px;
    background-color: #d6564f;
    color: #f48c8f;
    line-height: 40px;
    letter-spacing: 0.1px;
    outline: none;
}

textarea::placeholder,
input[type=email]::placeholder,
input[type=text]::placeholder {
    font-size: 12px;
    color: #f48c8f;
    font-family: "Lato-Regular";
}

textarea {
    padding-top: 10px;
    padding-left: 13px;
    border: 1px solid #d6564f;
    width: 619px;
    height: 203px;
    border-radius: 5px;
    background-color: #d6564f;
    color: #f48c8f;
    outline: none;
    resize: none;
}

input[type=submit] {
    display: flex;
    margin-top: 15px;
    margin-bottom: 0;
    width: 70px;
    cursor: pointer;
    transition: all 0.3s;
}

input[type=submit]:hover {
    border: 1px solid #e6342b;
    background-color: #f06c64;
    color: #e6342b;
}

.quot-contact {
    margin-left: 21px;
    height: 200px;
    width: 305px;
    display: flex;
    flex-direction: column;
}

.quot-contact__title {
    font-size: 18px;
    line-height: 19px;
    color: #f0d8d9;
    font-family: "Lato-Black";
    letter-spacing: 0.1px;
    overflow: hidden;
    white-space: nowrap;
}

.quot-contact__subtitle {
    margin-top: 10px;
    width: 303px;
    height: 105px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato-Regular";
    overflow: hidden;
    text-align: justify;
}

.quot-link {
    margin-top: 7px;
    font-size: 12px;
    letter-spacing: -0.1px;
    word-spacing: -0.4px;
    /* line-height: 22px; */
    color: #f0d8d9;
    font-family: "Lato-Regular";
    text-decoration: none;
    margin-left: 24px;
    position: relative;
    transition: all 0.3s;
}

.quot-link:hover {
    transform: translateX(10px);
}

.location::before {
    content: '';
    background-image: url(./assets/image/singolo3/pin.svg);
    display: block;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    position: absolute;
    top: 1px;
    left: -22px;
    background-size: contain;
}

.tel::before {
    content: '';
    background-image: url(./assets/image/singolo3/phone-call.svg);
    display: block;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: -22px;
    background-size: contain;
}

.mail::before {
    content: '';
    background-image: url(./assets/image/singolo3/mail.svg);
    display: block;
    width: 14px;
    height: 12px;
    background-repeat: no-repeat;
    position: absolute;
    top: 2px;
    left: -22px;
    background-size: contain;
}

.footer { 
    width: 1020px;
    margin: 0 auto;
    height: 75px;
    background-color: #2d303a;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright {
    margin-left: 41px;
    letter-spacing: -0.1px;
    font-size: 12px;
    color: #5b6179;
    font-family: "Lato-Regular";
    position: relative;
}

.socials-footer {
    display: flex;
    justify-content: space-between;
    width: 151px;
    margin-right: 40px;
    margin-top: 5px;
}

.socials-footer a {
    padding: 8px;
    position: relative;
    transition: all 0.3s;
}

.socials-footer a::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 16px;
    border: 1px solid #666d89;
    position: absolute;
    left: -3%;
    top: 0;
}

.socials-footer a:hover {
    transform: scale(1.3);
}

.portfolio-image-active {
    border: #F06C64 solid 5px;
}

.hidden {
    display: none;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200px;
    border-radius: 6px;
    background-color: #ffffff;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal-button {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid red;
}

.cursor-pointer {
    cursor: pointer;
}

.display-none {
    display: none;
}

@media (max-width: 1019px) {
    .slider {
        max-height: 457px;
    }

    .phone-vertical {
        width: 181px;
        height: 363px;
        background-image: url(./assets/image/phone-vertical-shadow-tablet.png);
    }

    .phone-vertical-wrapper {
        width: 162.36px;
        height: 344.26px;
    }

    .phone-vertical-display {
        width: 146px;
        height: 255px;
        top: 47px;
        left: 9px;
    }

    .vertical-display-black {
        width: 146px;
        height: 255px;
        top: 47px;
        left: 9px;
    }

    .phone-horizontal {
        height: 181px;
        width: 363px;
        background-image: url(./assets/image/phone-horizontal-shadow-tablet.png);
    }

    .phone-horizontal-wrapper {
        height: 162.36px;
        width: 344.26px;
    }

    .phone-horizontal-display {
        height: 146px;
        width: 255px;
        top: 8px;
        left: 43px;
    }

    .horizontal-display-black {
        height: 146px;
        width: 255px;
        top: 8px;
        left: 43px;
    }

    .slider-right {
        top: 50%;
        transform: translateY(-50%);
        right: 26.86px;
    }

    .slider-left {
        top: 50%;
        transform: translateY(-50%);
        left: 26.86px;
    }

    .inner-slider-2 {
        width: 328px;
    }

    .phone-back-slide-2 {
        width: 100px;
    }

    .phone-slider-2 {
        width: 158px;
    }

    .services {
        height: 675px;
        padding-top: 40px;
        border-bottom: 0;
        padding-left: 40px;
    }

    .services-title {
        margin-left: 0;
    }

    .services-subtitle {
        width: 89.5%;
        height: 99px;
        margin-left: 0;
    }

    .services-characteristic {
        width: 573px;
        height: 377px;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 28px;
    }

    .services-characteristic__column {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 39px;
    }

    .characteristic_element p {
        width: 220px;
        height: 77px;
        margin-top: 7px;
    }

    .portfolio {
        height: 1102px;
        padding-left: 0;
    }

    .portfolio-title {
        margin-left: 40px;
    }

    .portfolio-subtitle {
        margin-left: 40px;
        width: 89.0%;
        height: 60px;
    }

    .portfolio-nav ul {
        margin-left: 40px;
    }

    .portfolio-image {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        width: 700px;
        height: 794px;
        margin-left: 40px;
        margin-top: 28px;
    }

    .about {
        min-height: 669px;
        max-height: 734px;
        height: 100%;
        padding: 52px 40px 20px 40px;
        border-bottom: 0;
    }

    .about-subtitle {
        width: 95%;
        height: 100px;
    }

    .about-column-wrapper {
        height: 475px;
        max-width: 941px;
        width: 100%;
    }

    .about-column {
        margin-top: 28px;
        margin-right: 1.9%;
        max-width: 301px;
        width: 100%;
    }

    .about-column:nth-child(3) {
        margin-right: 0;
    }

    .about-column__subtitle {
        height: 72px;
    }

    .socials {
        margin-top: 5px;
    }

    .quote {
        height: 631px;
        padding-top: 53px;
        padding-right: 40px;
    }

    .quote-subtitle {
        width: 100%;
        height: 96px;
        margin-bottom: 19px;
    }

    .form {
        min-width: 442px;
        max-width: 618px;
        width: 100%;
    }

    input[type=email],
    input[type=text] {
        margin-bottom: 11px;
        min-width: 442px;
        max-width: 619px;
        width: 100%;
    }

    .form-submit {
        width: 70px;
    }

    textarea {
        min-width: 442px;
        max-width: 619px;
        width: 100%;
        height: 159px;
    }

    .quot-contact {
        margin-left: 29px;
    }

    .quot-contact__subtitle {
        min-width: 221px;
        max-width: 303px;
        width: 100%;
        height: 130px;
        margin-top: 6px;
    }

    .footer {
        max-width: 1020px;
        width: 100%;
    }
}





@media (max-width: 767px) {
    .header {
        max-height: 71px;
    }

    .header-wrapper {
        justify-content: center;
    }

    .header-title {
        font-size: 19.6875px;
    }

    .header-navbar {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .main {
        margin-top: 71px;
    }

    .slider {
        height: 218.38px;
        border-top: 0;
        border-bottom: #ea676b 2.2px solid;
    }

    .phone-vertical {
        width: 88.3px;
        height: 177.61px;
        background-image: url(./assets/image/phone-vertical-shadow-mobile.png);
    }

    .phone-vertical-wrapper {
        width: 79.28px;
        height: 168.1px;
    }

    .phone-vertical-display {
        width: 71px;
        height: 124px;
        top: 23px;
        left: 4px;
    }

    .vertical-display-black {
        width: 71px;
        height: 124px;
        top: 23px;
        left: 4px;
    }   

    .phone-horizontal {
        margin-right: 0;
        margin-left: 20.5px;
        height: 88.3px;
        width: 177.61px;
        background-image: url(./assets/image/phone-horizontal-shadow-mobile.png);
    }

    .phone-horizontal-wrapper {
        height: 79.28px;
        width: 168.1px;
    }

    .phone-horizontal-display {
        height: 71px;
        width: 124px;
        top: 4px;
        left: 22px;    
    }

    .horizontal-display-black {
        height: 71px;
        width: 124px;
        top: 4px;
        left: 22px;    
    }

    .slider-right {
        right: 10px;
    }

    .slider-left {
        left: 10px;
    }

    .inner-slider-2 {
        width: 189px;
    }

    .phone-slider-2 {
        width: 88px;
    }

    .phone-back-slide-2 {
        width: 58px;
    }

    .services {
        height: 1032px;
    }

    .services-title {
        margin-bottom: 18px;
    }

    .services-subtitle {
        min-height: 99px;
        max-height: 214px;
        height: 100%;
    }

    .services-characteristic {
        width: 176px;
        margin-top: 10px;
        height: 700px;
    }

    .services-characteristic__column {
        width: 225px;
        flex-direction: column;
        margin-bottom: 0;
    }

    .characteristic_element {
        margin-bottom: 15px;
    }

    .portfolio {
        height: 844px;
        border-bottom: 0;
        padding-top: 40px;
    }

    .portfolio-title {
        margin-left: 30px;
    }

    .portfolio-subtitle {
        width: 80%;
        margin-left: 30px;
        margin-top: 14px;
        height: 81px;
    }

    .portfolio-nav ul {
        margin-top: 22px;
        margin-left: 30px;
    }

    .portfolio-image {
        margin-left: 30px;
        width: 315px;
        height: 553px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 14px;
        margin: 28px auto 0;
    }

    .portfolio-image__element {
        width: 151px;
        height: 128px;
    }

    .about {
        min-height: 1754px;
        padding: 0;
        padding-top: 36px;
    }

    .about-title {
        margin-left: 30px;
    }

    .about-subtitle {
        margin-left: 30px;
        height: 203px;
        width: 83%;
        margin-bottom: 30px;
    }

    .about-column-wrapper {
        width: 301px;
        height: 1387px;
        flex-direction: column;
        margin: 0 auto;
    }

    .about-column {
        margin: 0;
        height: 433px;
        margin-bottom: 34px;
    }

    .about-column__title {
        margin-top: 18px;
    }

    .about-column__subtitle {
        height: 38px;
        margin-top: 3px;
    }

    .socials {
        margin-top: 18px;
    }

    .quote {
        height: 969px;
        padding: 44px 30px 0;
        border-bottom: 0;
    }

    .quote-subtitle {
        margin-bottom: 30px;
        min-height: 96px;
        max-height: 204px;
        height: 100%;
    }

    .qoute-wrapper {
        flex-direction: column;
    }

    .form {
        min-width: 200px;
        height: 100%;
    }

    input[type=email],
    input[type=text] {
        min-width: 200px;
    }

    textarea {
        min-width: 200px;
    }

    input[type=submit] {
        margin-top: 11px;
        min-width: 200px;
        width: 100%;
    }

    .quot-contact {
        margin-left: 0;
        margin-top: 30px;
        max-width: 315px;
        width: 100%;
    }

    .quot-contact__subtitle {
        max-width: 315px;
        width: 100%;
        height: 110px;
    }

    .footer {
        justify-content: center;
    }

    .copyright {
        display: none;
    }

    .socials-footer {
        margin: 0;
    }
}

@media (max-width: 374px) {
    .phone-horizontal {
        margin-left: 6px;
    }

    .slider-right {
        right: 3px;
    }

    .slider-left {
        left: 3px;
    }

    .services {
        height: 1065px;
    }

    .services-subtitle {
        max-height: 260px;
    }

    .about-subtitle {
        height: 230px;
    }

    .quote-subtitle {
        max-height: 236px;
    }
}